<footer>
  <ul id="footer-links">
    <li>About</li>
    <li><a href="mailto:ashley.starks@gmail.com?Subject=StoopApp" target="_top" id="footer-contact">Contact Us</a></li>
    <li>Terms of Service</li>
  </ul>
  <p id="footer-copyright">Copyright ©2018</p>
</footer>
