/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 25% auto 25%;
  margin: 0;
}

header {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: rgba(74,99,127,1);
}

#logo {
  text-decoration: none;
  color: white;
  font-family: 'Bowlby One SC', cursive;
  padding-left: 30px;
  font-size: 25px;
  letter-spacing: 3px;
}

#logo-link {
  text-decoration: none;
  color: white;
  font-family: 'Bowlby One SC', cursive;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

footer {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: rgba(74,99,127,1);
  display: flex;
  justify-content: space-between;
}

#footer-links {
  color: white;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  list-style: none;
  align-self: flex-start;
  margin-left: 30px;
  font-size: 20px;
}

#footer-copyright {
  color: white;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  margin-right: 30px;
  align-self: flex-end;
  font-size: 15px;
}
