<div class="landing-page">
  <div class="intro-video">
    <video autoplay>
      <source src="https://i.imgur.com/JULcxjU.mp4">
    </video>
  </div>
  <div class="flex-container">
      <% @categories.each do |category| %>
      <div class="category">
          <%= link_to category.title, category_path(category) %>
      </div>
      <% end %>
  </div>
</div>
