<div class="landing-page">
  <div class="intro-video">
    <%= video_tag "Pink_Mood_NYC.mp4", :size => "700x240", :controls => false, :autoplay => "true", :loop => "true"%>
  </div>
  <div class="flex-container">
      <% @categories.each do |category| %>
      <div class="category">
          <%= link_to category.title, category_path(category) %>
      </div>
      <% end %>
  </div>
</div>
